
 /*edit tab save button */
input[type="submit"]{
	width: 100px;
	height: 50px;
	margin-left: 50%;
	border-bottom: none;
	transform: translateX(-50%);
	border-radius: 10px;
	background: red;
	color: white;
	font-size: 20px;
}
input[type="submit"]:hover{
	letter-spacing: normal;
    border-bottom: none;

}